html, body, p, ul, li, img, h1, h2, h3, h4, pre {
    margin: 0;
    padding: 0;
    border: 0
}

html, body, button, input, textarea, pre {
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif
}

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

body {
    background: #e2e2e2;
    -webkit-text-size-adjust: none
}

h1, h2, h3, h4 {
    font-weight: normal
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

img {
    border: none
}

textarea {
    overflow: auto
}

embed {
    width: 100%;
}

* {
    scrollbar-face-color: #bbb;
    scrollbar-arrow-color: #bbb;
    scrollbar-3dlight-color: #c0c0c0;
    scrollbar-highlight-color: #bbb;
    scrollbar-shadow-color: #bbb;
    scrollbar-darkshadow-color: #c0c0c0;
    scrollbar-track-color: #eee;

}

pre {
    border: 0;
    background: 0;
    white-space: pre-line;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    /*background-color: #ddd;*/
}

::-webkit-scrollbar-track-piece {
    /*background-color: #f3f3f3;*/
    /*-webkit-border-radius: 3px;*/
}

::-webkit-scrollbar-thumb {
    background-color: #d2e0e1;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #f3f3f3;
}

::-webkit-resizer {
    background-repeat: no-repeat;
    background-position: bottom right;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

#container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
}

.header {
    height: 64px;
    line-height: 64px;
    background-color: #1E9FFF;
    color: #fff;
}

.content {
    position: absolute;
    height: auto;
    top: 0px;
    bottom: 180px;
    right: 0;
    left: 0;
    background-color: #fff;
    overflow-y: auto;
    display: block;
}

.conversation {
    padding-top: 28px;
    padding-bottom: 8px;
    margin: 0 3.2%;
    width: 93.6%;
    list-style: none;
}

.fuceng-li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    padding: 0 20px 0 44px;
}

.selected-li {
    background-color: #dddddd;
}

.selecte-icon {
    display: none;
    position: absolute;
    top: 9px;
    left: 20px;
    height: 12px;
    width: 12px;
}

.selected-li .selecte-icon {
    display: block;
}

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 200px;
    border-top: 1px solid #ebeff0;
    background-color: #fff;
}

.msg-input {
    display: block;
    margin: 20px 32px 10px;
    height: 120px;
}

.msg-toolbar-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 120px;
    display: block;
}

.msg-toolbar-footer .msg-send-btn {
    width: 78px;
    height: 100%;
    text-align: -moz-center !important;
    text-align: center;
    color: #fff;
    border: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: #1E9FFF;
    font-size: 14px;
}

.msg-toolbar-footer .showinfo {
    position: absolute;
    background-color: #1E9FFF;
    right: 0;
    top: 0;
    width: 43px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.msg-toolbar-footer .showinfo img {
    height: 10px;
    width: 10px;
    display: block;
}

#chatmsg_submit {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.msg-toolbar-footer span {
    display: block;
    float: right;
    height: 45px;
    line-height: 40px;
    margin: 1px 8px 1px 0;
    text-align: center;
}

.msg-toolbar {
    position: absolute;
    bottom: 30px;
    left: 20px;
    height: 20px;
    width: 76%;
}

.msg-toolbar a {
    float: left;
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 16px;
}

.outer-right {
    float: right;
    width: 80%;
    position: relative;
    right: 56px;
    clear: both;
    font-size: 14px;
}

.outer-left {
    width: 80%;
    position: relative;
    left: 56px;
    clear: both;
    font-size: 14px;
}

.outer-iframe-left {
    float: left;
    position: relative;
    clear: both;
    padding-top: 5px;
}

.customer {
    /* margin-right: 10px;*/
    margin-top: 5px;
    background-color: #13c9cb;
    display: inline-block;
    padding: 10px 16px;
    float: right;
    word-break: break-all;
    word-wrap: break-word;
    color: #ffffff;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    max-width: 100%;
    box-sizing: border-box;
}

.service {
    /*margin-left: 10px;*/
    margin-top: 5px;
    background-color: #e9f0ef;
    display: inline-block;
    padding: 10px 16px 20px 16px;
    float: left;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 0px;
    max-width: 100%;
}

.chatmsg,.chatmsg_no {
    overflow: hidden;
    margin-bottom: 25px;
    position: relative;
    height: auto;
}
.chatmsg_notice{
    position: relative;
    margin-bottom: 80px;
}
.chatmsg img {
    max-width: 120px;
    max-height: 100px;
}
.chatmsg_no .service img {
    max-width: 100%;
}

.chatmsg:after, .chatmsg p {
    content: "";
    display: table;
    width: 100%;
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow:hidden;
    /*! autoprefixer: off */
}

.service-name {
    float: left;
    display: block;
    position: relative;
    font-size: 12px;
    color: #8D8D8D;
}

.showtime {
    color: #D2D2D2;
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    height: 16px;
}

.conversation li a {
    color: #000;
    text-decoration: underline;
}

.width {
    width: 100%;
    padding-left: 10px;
}

.widths {
    width: 100%;
}

.infoarea {
    width: 38%;
    position: relative;
    left: 62%;
    bottom: 60px;
}

.footer_main {
    width: 100%;
    height: 45px;
    background: #2f4050;
    position: absolute;
    bottom: 0;
}

.infomation {
    position: absolute;
    left: 10px;
    top: 10px;
}

#info_form {
    margin: 20px auto;
    width: 500px;
    height: 360px;
}

#info_form table {
    width: 90%;
    height: 80%;
}

.edit-ipt {
    height: 100%;
    resize: none;
    white-space: pre-wrap;
}

.tool_box {
    width: 280px;
    height: 195px;
    position: absolute;
    bottom: 180px;
    border: 1px solid #ddd;
    display: none;
    z-index: 100;
    background-color: #fff;
}

#text_in img {
    max-width: 100px;
    max-height: 100px;
}

.wl_faces_main ul {
    margin: 5px 5px;
    overflow: hidden;
    border-top: 1px #CCC solid;
    border-left: 1px #CCC solid;
    width: 270px;
}

.wl_faces_main ul li {
    float: left;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    height: 30px;
    width: 26px;
    text-align: center;

}

.wl_faces_main ul li img {
    width: 22px;
    height: 22px;
    padding: 0px;
}

.wolive_product{
  display:block;
  width:480px;
  height:100%;
  position:relative;
}

.wolive_img{
  width: 30%;
}

.wolive_img img {
    height: 100px;
}

.wolive_head{
  width:70%;
  position:absolute;
  right:0px;
  top:10%;
}

.wolive_price{
  color:red;
}

.chatmsg p:first-child{
    -webkit-line-clamp:1!important;
}

.wolive_info{
    margin-top:5px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}

.layui-tab-title li {
    width: 12%;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.layui-tab-brief>.layui-tab-title .layui-this {
    /*box-sizing: border-box;*/
    color: #555!important;
    background-color: #fff;
    /*width: 28%;*/
    /*text-align: center;*/
    /*padding: 0;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
}

.layui-tab-brief>.layui-tab-title .layui-this:after {
    height: 51px;
    width: 30px;
    left: 50%;
    margin-left: -15px;
}

.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 2px solid #1E9FFF!important;
}

#tabcontent,#question_list {
    min-height: 450px;
}